.banner{
    display: flex;
    flex-direction: row;
    
}

/*.sideBarRight,
.sideBarLeft{
    height: 100vh;
    width: 270px;
}

.sideBarLeft{
    background-image: url("../IMG/AsideIMG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sideBarRight{
    background-image: url("../IMG/Aside-RightIMG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
*/

.title{
     width: 100%;
     height: 300px;
     /*background-image: url("../IMG/Logo.png");*/
     display: flex;
     flex-direction: column-reverse;
     background-repeat: no-repeat;
     
     position: relative;
     background-size: cover;
     
     animation: moveBanner 20s ease-in-out infinite;
}


.B1{
    background-image: url("../IMG/banner1.jpg");
    
}
.B2{
    background-image: url("../IMG/Banner2.jpg"); 
}

.B3{
    background-image: url("../IMG/banner3.jpg");
}

.B4{
    background-image: url("../IMG/Banner4.jpg");
}

@keyframes moveBanner {
    0%, 100% {
        background-position: center 0%;
    }
    50% {
        background-position: center 90%; 
    }
}

.title::before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-repeat: no-repeat;
     background-position: center 16%;
     background-image: url("../IMG/Logo.png");
     animation: moveLogo 4s linear infinite;
      
     
}



@keyframes moveLogo {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}


/*Responsive de 1024 px*/
@media(max-width:1024px){
.sideBarLeft,
.sideBarRight{
display: none;
}

.title{
    width: 100%;
}



}

