.navMain {
  width: 1020px;       
  height: 80px;        
  margin: 0 auto;      
  display: flex;
  justify-content: space-around; 
  align-items: center;           
  /* Estética */
  background-color: #ffffff;
  border: 2px solid #000;
  box-sizing: border-box;        
  position: sticky;
  top: 0;
  z-index: 100;
}


.navMain div {
  width: 235px;
  height: 50px;
  
  background-color: #e0e0e0; 
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s;
  
}

.navMain div:hover {
  background-color: rgb(11, 167, 0);
}
.navMain div:hover h3{
  color: rgb(0, 255, 255);
}



#BS {
  display: none; 
}




@media (max-width: 1024px) {
  .title {
    height: auto; 
    min-height: 280px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: center;
    padding-bottom: 15px;
  }

  .title::before {
  
    height: 70%; 
    background-size: contain;
    background-position: center 10%;
  }


  .title div {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
}


@media (max-width: 770px) {
  .navMain{
    display: none;
  }
  #BS {
    display: block;
    width: 100%;
    margin: 30px auto 10px auto; 
    position: relative; 
    top: 0;
    height: 60px;
    z-index: 10;
    /* Estética */
    border-radius: 12px;
    line-height: 20px;
    padding: 10px;
  }

 
  
}

@media (max-width: 512px) {
  .navMain{
    display: none;
  }
  .title {
    height: 180px;
  }
  .title::before {
    background-size: 80%;
    background-position: center 5%;
  }
  #BS {
    margin-top: 20px;
    font-size: 0.85rem;
  }
}